<div class="">
  <div style="height:100vh;">
    <div class="">
      <div class="shadow w-20 p-5 position-absolute top-50 start-50 translate-middle">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <h4 class="display-6 text-center py-2">Admin Database</h4>
          
          <div class="">
            <label for="department">Department</label>
            <div class="">
              <input id="department" required #department="ngModel" ngModel name="department" type="text"
                class="form-control" placeholder="Enter your department">
              <div *ngIf="department.invalid && department.touched">
                <small class="text-danger" *ngIf="department.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          
          <div class="">
            <label for="teacher">Teacher</label>
            <div class="">
              <input id="teacher" required #teacher="ngModel" ngModel name="teacher" type="text"
                class="form-control" placeholder="Enter your teacher">
              <div *ngIf="teacher.invalid && teacher.touched">
                <small class="text-danger" *ngIf="teacher.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
  
          <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div><br>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Department</th>
          <th>Teacher</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of adminDetails">
          <td>{{admin.id}}</td>
          <td>{{admin.department}}</td>
          <td>{{admin.teacher}}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(admin)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteAdmin(admin)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Admin</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateAdmin()">
            <h4 class="display-6 text-center py-2">Update Admin</h4>
            
            <div class="">
              <label for="department">Department</label>
              <div class="">
                <input id="department" required #department="ngModel" [(ngModel)]="adminToUpdate.department" name="department" type="text"
                  class="form-control" placeholder="Enter your department">
                <div *ngIf="department.invalid && department.touched">
                  <small class="text-danger" *ngIf="department.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            
            <div class="">
              <label for="teacher">Teacher</label>
              <div class="">
                <input id="teacher" required #teacher="ngModel" [(ngModel)]="adminToUpdate.teacher" name="teacher" type="text"
                  class="form-control" placeholder="Enter your teacher">
                <div *ngIf="teacher.invalid && teacher.touched">
                  <small class="text-danger" *ngIf="teacher.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
       
            <div class="form-group text-center">
              <input class="btn btn-primary" type="submit" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>